<h2>List of Authors</h2>

<%= link_to '+ New Author', new_author_path %>
<br><br>

<% if @authors.size > 0 %>
  <table>
    <thead>
      <tr><th>Name</th>
      <th>Description</th>
      <th>Actions</th><tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td> <%= author.name %> </td>
          <td style="max-width: 40rem;"> <%= author.description %> </td>
          <td> <%= link_to  "Delete", author_path(author.id), method: :delete %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>